*.pdf filter=lfs diff=lfs merge=lfs -text
*12.pdf filter=lfs diff=lfs merge=lfs -text
*18.pdf filter=lfs diff=lfs merge=lfs -text
*25.pdf filter=lfs diff=lfs merge=lfs -text
*26.pdf filter=lfs diff=lfs merge=lfs -text
*29.pdf filter=lfs diff=lfs merge=lfs -text
*30.pdf filter=lfs diff=lfs merge=lfs -text
*32.pdf filter=lfs diff=lfs merge=lfs -text
*33.pdf filter=lfs diff=lfs merge=lfs -text
*36.pdf filter=lfs diff=lfs merge=lfs -text
*37.pdf filter=lfs diff=lfs merge=lfs -text
